<a href="https://colab.research.google.com/github/ddopazo92/Introduccion_datascience_diego_dopazo/blob/main/libreria%20pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Libreria  Panda**

In [ ]:
import pandas as pd

data = pd.Series([1,10,15,20],index=(['a:','b:','c:','d:'])) ##esto crea una serie con cuatro elementos a los cuales se les crea un indice con letras

print(data)

a:     1
b:    10
c:    15
d:    20
dtype: int64

In [ ]:
import pandas as pd

datas = {
        'Nombre' : ['Ana','Jorge','Roberto','Diego','Federico'],
        'Edad' : [30,25,50,33,80],
        'Ciudad': ['Montevideo','Buenos Aires','Brasilia','Bogota', 'Santiago'],
        }

df = pd.DataFrame(datas)

print(df,"\n")

print(df.loc[2:4,['Nombre','Edad']],"\n") ##el .loc sirve para filtrar, primero toma la/s fila/s, (los dos : separa entre que fila(inclusive) y fila(inclusive) va a seleccionar), seguido a eso elige la/s columna/s que queres filtrar

print(df.iloc[2:5,0:2]) ##el .iloc sirve para filtrar pero por numero de fila y numero de columna, y selecciona el primer numero hasta el anterior del segundo numero elegido

     Nombre  Edad        Ciudad
0       Ana    30    Montevideo
1     Jorge    25  Buenos Aires
2   Roberto    50      Brasilia
3     Diego    33        Bogota
4  Federico    80      Santiago

     Nombre  Edad
2   Roberto    50
3     Diego    33
4  Federico    80

     Nombre  Edad
2   Roberto    50
3     Diego    33
4  Federico    80

## **Seleccionar persona de menos de 30 que vive en Buenos Aires**

In [ ]:

menores_30 = df.loc[(df['Edad'] < 30) & (df['Ciudad']== 'Buenos Aires')]

mayores_30 = df.loc[(df['Edad'] > 30)]

print(menores_30)

print("\n",mayores_30)

  Nombre  Edad        Ciudad
1  Jorge    25  Buenos Aires

      Nombre  Edad    Ciudad
2   Roberto    50  Brasilia
3     Diego    33    Bogota
4  Federico    80  Santiago

In [ ]:
import numpy as np
import pandas as pd

datos_null = {
        'A' : [1,2,np.nan,4], ##nan es una funcion de numpy para poder ingrear datos nulos
        'B' : [1,2,3,np.nan],
        'C' : [1,np.nan,np.nan,4],
        'D' : [1,2,3,4]
        }

datos_nulos = pd.DataFrame(datos_null)



datos_nulos_dropna = datos_nulos.dropna(axis=1) ##el axis=1 sirve para quitar columnas con datos nulos, sin el axis, elimina las filas con datos nulos

dnl_mean = datos_nulos.fillna(datos_nulos.mean()) ##rellenas los datos nulos con el promedio de la columna correspondiente

print(datos_nulos.isnull(),"\n") ##isnull() devuelve un DataFrame de la misma forma que el original, pero con valores booleanos

print(datos_nulos,"\n")

print(datos_nulos_dropna)##dropna elimina las filas con datos nulos, en el resultado te indica la posicion de las filas con datos no nulos en sus columnas

print(dnl_mean)

       A      B      C      D
0  False  False  False  False
1  False  False   True  False
2   True  False   True  False
3  False   True  False  False

     A    B    C  D
0  1.0  1.0  1.0  1
1  2.0  2.0  NaN  2
2  NaN  3.0  NaN  3
3  4.0  NaN  4.0  4

   D
0  1
1  2
2  3
3  4
          A    B    C  D
0  1.000000  1.0  1.0  1
1  2.000000  2.0  2.5  2
2  2.333333  3.0  2.5  3
3  4.000000  2.0  4.0  4

# **Usando metodo de pandas Interpolate**

In [6]:
import numpy as np
import pandas as pd

datos_interpolados ={
                      'fechas': pd.date_range(start='1/1/2025',periods=10),
                      'valores': [1,3,np.nan,7,9,
                                  np.nan,13,15,np.nan,19]

                    }

di= pd.DataFrame(datos_interpolados)

print(di.isnull())

di['valores'] = di['valores'].interpolate(method = 'linear')

print(di)

   fechas  valores
0   False    False
1   False    False
2   False     True
3   False    False
4   False    False
5   False     True
6   False    False
7   False    False
8   False     True
9   False    False
      fechas  valores
0 2025-01-01      1.0
1 2025-01-02      3.0
2 2025-01-03      5.0
3 2025-01-04      7.0
4 2025-01-05      9.0
5 2025-01-06     11.0
6 2025-01-07     13.0
7 2025-01-08     15.0
8 2025-01-09     17.0
9 2025-01-10     19.0

**Arrays con calculos**

In [ ]:

import numpy as np

numero = np.random.randint(0,100,size=(5))
media = np.mean(numero)

print(numero)
print(media)

media_falta = media - 50

if media > 50:
 print(media_falta,": se debe restar eso para que sea 50")

else:
  print(media_falta,": se debe sumar eso para que sea 50")

[12 85 23 88 34]
48.4
-1.6000000000000014 : se debe sumar eso para que sea 50

In [3]:
import pandas as pd

datos_diccionario = {"día1": 420, "día2": 380, "día3": 390}
serie_dict = pd.DataFrame(datos_diccionario)
print("Serie desde diccionario:\n", serie_dict)

Serie desde diccionario:
 día1    [420]
día2    [380]
día3    [390]
dtype: object