<a href="https://colab.research.google.com/github/ddopazo92/Introduccion_datascience_diego_dopazo/blob/main/libreria%20pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Libreria  Panda**

In [ ]:
import pandas as pd

data = pd.Series([1,10,15,20],index=(['a:','b:','c:','d:'])) ##esto crea una serie con cuatro elementos a los cuales se les crea un indice con letras

print(data)

a:     1
b:    10
c:    15
d:    20
dtype: int64

In [38]:
import pandas as pd

datas = {
        'Nombre' : ['Ana','Jorge','Roberto','Diego','Federico'],
        'Edad' : [30,25,50,33,80],
        'Ciudad': ['Montevideo','Buenos Aires','Brasilia','Bogota', 'Santiago'],
        }

df = pd.DataFrame(datas)

print(df,"\n")

print(df.loc[2:4,['Nombre','Edad']],"\n") ##el .loc sirve para filtrar, primero toma la/s fila/s, (los dos : separa entre que fila(inclusive) y fila(inclusive) va a seleccionar), seguido a eso elige la/s columna/s que queres filtrar

print(df.iloc[2:5,0:2]) ##el .iloc sirve para filtrar pero por numero de fila y numero de columna, y selecciona el primer numero hasta el anterior del segundo numero elegido

     Nombre  Edad        Ciudad
0       Ana    30    Montevideo
1     Jorge    25  Buenos Aires
2   Roberto    50      Brasilia
3     Diego    33        Bogota
4  Federico    80      Santiago

     Nombre  Edad
2   Roberto    50
3     Diego    33
4  Federico    80

     Nombre  Edad
2   Roberto    50
3     Diego    33
4  Federico    80

## **Seleccionar persona de menos de 30 que vive en Buenos Aires**

In [37]:

menores_30 = df.loc[(df['Edad'] < 30) & (df['Ciudad']== 'Buenos Aires')]

mayores_30 = df.loc[(df['Edad'] > 30)]

print(menores_30)

print("\n",mayores_30)

  Nombre  Edad        Ciudad
1  Jorge    25  Buenos Aires

      Nombre  Edad    Ciudad
2   Roberto    50  Brasilia
3     Diego    33    Bogota
4  Federico    80  Santiago

In [49]:
import numpy as np

datos_null = {
        'A' : [1,2,np.nan,4], ##nan es una funcion de numpy para poder ingrear datos nulos
        'B' : [1,2,3,np.nan],
        'C' : [1,np.nan,np.nan,4],
        'D' : [1,2,3,4]
        }

datos_nulos = pd.DataFrame(datos_null)

datos_nulos_dropna = datos_nulos.dropna()

print(datos_nulos.isnull(),"\n") ##isnull() devuelve un DataFrame de la misma forma que el original, pero con valores booleanos

print(datos_nulos_dropna)##dropna elimina las filas con datos nulos, en el resultado te indica la posicion de las filas con datos no nulos en sus columnas

       A      B      C      D
0  False  False  False  False
1  False  False   True  False
2   True  False   True  False
3  False   True  False  False

     A    B    C  D
0  1.0  1.0  1.0  1

**Arrays con calculos**

In [ ]:

import numpy as np

numero = np.random.randint(0,100,size=(5))
media = np.mean(numero)

print(numero)
print(media)

media_falta = media - 50

if media > 50:
 print(media_falta,": se debe restar eso para que sea 50")

else:
  print(media_falta,": se debe sumar eso para que sea 50")

[12 85 23 88 34]
48.4
-1.6000000000000014 : se debe sumar eso para que sea 50