<a href="https://colab.research.google.com/github/ddopazo92/Introduccion_datascience_diego_dopazo/blob/main/libreria%20pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Libreria  Panda**

In [8]:
import pandas as pd

data = pd.Series([1,10,15,20],index=(['a:','b:','c:','d:'])) ##esto crea una serie con cuatro elementos a los cuales se les crea un indice con letras

print(data)

a:     1
b:    10
c:    15
d:    20
dtype: int64

In [41]:
import pandas as pd

datas = {
        'Nombre' : ['Ana','Jorge','Roberto'],
        'Edad' : [30,25,50],
        'Ciudad': ['Montevideo','Buenos Aires','Brasilia']
        }

df = pd.DataFrame(datas)

print(df.loc[0])

Nombre           Ana
Edad              30
Ciudad    Montevideo
Name: 0, dtype: object

**Arrays con calculos**

In [30]:

import numpy as np

numero = np.random.randint(0,100,size=(5))
media = np.mean(numero)

print(numero)
print(media)

media_falta = media - 50

if media > 50:
 print(media_falta,": se debe restar eso para que sea 50")

else:
  print(media_falta,": se debe sumar eso para que sea 50")

[12 85 23 88 34]
48.4
-1.6000000000000014 : se debe sumar eso para que sea 50