<a href="https://colab.research.google.com/github/ddopazo92/Introduccion_datascience_diego_dopazo/blob/main/primer_clase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

funciones

In [ ]:
def costo_total(costo,tarifa):


  x = costo+tarifa
  return x

costos = costo_total(150,100)
print(f"el costo total es: {costos}")

el costo total es: 250

importar tabla de datos

In [ ]:
import pandas as pd
import numpy as np

## crear un dataframe de ejemplo

data = {'nombre':['ana','luis','jorge'],
        'edad': [20,25,18]}

df = pd.DataFrame(data)
print(df)

  nombre  edad
0    ana    20
1   luis    25
2  jorge    18